{% extends 'BlogBundle:Default:default.html.twig' %}

{% block sidebar %}
    <h4>ARTICLES RECENTS</h4>
    <br>
    <br>
    <h4>ABONNEZ-VOUS !</h4>
    <br>
    <h5>Retrouvez notre Newsletter</h5>
    <br>
{% endblock %}