{% extends 'BlogBundle:Default:default.html.twig' %}

{% block sidebar %}
    <h2>ARTICLE DE LA SEMAINE</h2>
    <br>
    <br>
    {{ render(controller('BlogBundle:Default:weeklyPost')) }}
    <br>
    <br>
    <h2>ABONNEZ-VOUS !</h2>
    <br>
    <h5>Retrouvez notre Newsletter</h5>
    <br>
{% endblock %}